<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1280, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}{{#if title}} &laquo; {{/if}}{{settings.site_title}}</title>
  {{{block 'head'}}}
</head>
<body>
  {{{body}}}
</body>
</html>
