{{!< layout}}

{{#contentFor 'styles'}}
<link rel="stylesheet" href="/assets/css/page-cart.css"></layout>
{{/contentFor}}

<div class="py-container">
  <div class="allgoods">
    <h4>全部商品<span>11</span></h4>
    <div class="cart-main">
      <div class="yui3-g cart-th">
        <div class="yui3-u-1-2">商品</div>
        <div class="yui3-u-1-8">单价（元）</div>
        <div class="yui3-u-1-8">数量</div>
        <div class="yui3-u-1-8">小计（元）</div>
        <div class="yui3-u-1-8">操作</div>
      </div>
      <div class="cart-item-list">
        <div class="cart-body">
          <div class="cart-list">
            <ul class="goods-list yui3-g">
              <li class="yui3-u-3-8">
                <div class="good-item">
                  <div class="item-img">
                    <img src="/uploads/mobile.png">
                  </div>
                  <div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                </div>
              </li>
              <li class="yui3-u-1-8">
                <span>颜色: 银色</span><br>
                <span>处理器: Core I5</span><br>
                <span>内存: 8GB</span><br>
                <span>尺寸: 13.3英寸</span><br>
              </li>
              <li class="yui3-u-1-8">
                <span class="price">8848.00</span>
              </li>
              <li class="yui3-u-1-8">
                <a href="#" class="increment mins">-</a>
                <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                <a href="#" class="increment plus">+</a>
              </li>
              <li class="yui3-u-1-8">
                <span class="sum">8848.00</span>
              </li>
              <li class="yui3-u-1-8">
                <a href="#none">删除</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-tool">
      <div class="money-box">
        <div class="sumprice">
          <span><strong>1</strong> 件商品</span><br>
          <span><em>总价（不含运费）：</em><i class="summoney">¥16283.00</i></span>
        </div>
        <div class="sumbtn">
          <a class="sum-btn" href="/checkout">结算</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'scripts'}}
<script src="/assets/js/sui.tab.js"></script>
<script src="/assets/js/sui.transition.js"></script>
{{/contentFor}}
