{{!< layout}}

{{#contentFor 'styles'}}
<link rel="stylesheet" href="/assets/css/page-cart.css"></layout>
{{/contentFor}}

<div class="success-cart">
  <div class="py-container ">
    <h3>
      <i class="sui-icon icon-pc-right"></i>商品已成功加入购物车！</h3>
    <div class="goods">
      <div class="left-good">
        <div class="left-pic">
          <img src="/uploads/mobile.png">
        </div>
        <div class="right-info">
          <p class="title">美的（Midea)电饭煲WFZ5099IH IH电磁加热 1250W大火力 钛金釜5L电饭锅</p>
          <p class="attr">颜色：WFZ5099IH/5L钛金釜内胆 数量：1</p>
        </div>
      </div>
      <div class="right-gocart">
        <a href="/item/1" class="sui-btn btn-xlarge">查看商品详情</a>
        <a href="/cart" class="sui-btn btn-xlarge btn-danger ">去购物车结算 ></a>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'scripts'}}
<script src="/assets/js/sui.tab.js"></script>
<script src="/assets/js/sui.transition.js"></script>
{{/contentFor}}
