{{!< layout}}

{{#contentFor 'styles'}}
<link rel="stylesheet" href="/assets/css/page-home.css"></layout>
{{/contentFor}}

<!--列表-->
<div class="py-container">
  <div class="yui3-g SortList">
    <div class="yui3-u Center banerArea">
      <!--banner轮播-->
      <div id="banner" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#banner" data-slide-to="0" class="active"></li>
          <li data-target="#banner" data-slide-to="1"></li>
          <li data-target="#banner" data-slide-to="2"></li>
          <li data-target="#banner" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active"><a href="#"><img src="/uploads/banner1.jpg"></a></div>
          <div class="item"><a href="#"><img src="/uploads/banner2.jpg"></a></div>
          <div class="item"><a href="#"><img src="/uploads/banner3.jpg"></a></div>
          <div class="item"><a href="#"><img src="/uploads/banner4.jpg"></a></div>
        </div>
        <a href="#banner" data-slide="prev" class="carousel-control left">‹</a>
        <a href="#banner" data-slide="next" class="carousel-control right">›</a>
      </div>
    </div>
    <div class="yui3-u Right">
      <div class="news">
        <h4>
          <em class="fl">品优购快报</em>
          <span class="fr tip">更多 ></span>
        </h4>
        <div class="clearix"></div>
        <ul class="news-list unstyled">
          <li><span class="bold">[特惠]</span>备战开学季 全民半价购数码</li>
          <li><span class="bold">[公告]</span>备战开学季 全民半价购数码</li>
          <li><span class="bold">[特惠]</span>备战开学季 全民半价购数码</li>
          <li><span class="bold">[公告]</span>备战开学季 全民半价购数码</li>
          <li><span class="bold">[特惠]</span>备战开学季 全民半价购数码</li>
        </ul>
      </div>
      <ul class="yui3-g Lifeservice">
        <li class="yui3-u-1-4 life-item tab-item"><i class="list-item list-item-1"></i><span class="service-intro">话费</span></li>
        <li class="yui3-u-1-4 life-item tab-item"><i class="list-item list-item-2"></i><span class="service-intro">机票</span></li>
        <li class="yui3-u-1-4 life-item tab-item"><i class="list-item list-item-3"></i><span class="service-intro">电影票</span></li>
        <li class="yui3-u-1-4 life-item tab-item"><i class="list-item list-item-4"></i><span class="service-intro">游戏</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-5"></i><span class="service-intro">彩票</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-6"></i><span class="service-intro">加油站</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-7"></i><span class="service-intro">酒店</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-8"></i><span class="service-intro">火车票</span></li>
        <li class="yui3-u-1-4 life-item  notab-item"><i class="list-item list-item-9"></i><span class="service-intro">众筹</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-10"></i><span class="service-intro">理财</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-11"></i><span class="service-intro">礼品卡</span></li>
        <li class="yui3-u-1-4 life-item notab-item"><i class="list-item list-item-12"></i><span class="service-intro">白条</span></li>
      </ul>
      <div class="life-item-content">
        <div class="life-detail">
          <i class="close">关闭</i><p>话费充值</p>
          <form action="" class="sui-form form-horizontal">
            号码：<input type="text" id="inputphoneNumber" placeholder="输入你的号码">
          </form>
          <button class="sui-btn btn-danger">快速充值</button>
        </div>
        <div class="life-detail"><i class="close">关闭</i> 机票</div>
        <div class="life-detail"><i class="close">关闭</i> 电影票</div>
        <div class="life-detail"><i class="close">关闭</i> 游戏</div>
      </div>
      <div class="ads"><img src="/uploads/ad.jpg"></div>
    </div>
  </div>
</div>

<!--推荐-->
<div class="show">
  <div class="py-container">
    <ul class="yui3-g Recommend">
      <li class="yui3-u-1-6 clock"><div class="time"><img src="assets/img/clock.png"><h3>今日推荐</h3></div></li>
      <li class="yui3-u-5-24"><img src="/uploads/today01.png"></li>
      <li class="yui3-u-5-24"><img src="/uploads/today02.png"></li>
      <li class="yui3-u-5-24"><img src="/uploads/today03.png"></li>
      <li class="yui3-u-5-24"><img src="/uploads/today04.png"></li>
    </ul>
  </div>
</div>

<!--喜欢-->
<div class="like">
  <div class="py-container">
    <div class="title">
      <h3 class="fl">猜你喜欢</h3>
      <a href="#" class="fr tip changeBnt" id="xxlChg"><i></i>换一换</a>
    </div>
    <div class="bd">
      <ul class="clearfix yui3-g Favourate picLB" id="picLBxxl">
        <li class="yui3-u-1-6">
          <dl class="picDl huozhe">
            <dd>
              <a href="/item/1" class="pic"><img src="/uploads/like_01.png"></a>
              <div class="like-text"><p>阳光美包新款单肩包女包时尚子母包四件套女</p><h3>¥116.00</h3></div>
            </dd>
          </dl>
        </li>
        <li class="yui3-u-1-6">
          <dl class="picDl jilu">
            <dd>
              <a href="/item/1" class="pic"><img src="/uploads/like_02.png"></a>
              <div class="like-text"><p>爱仕达 30CM炒锅不粘锅NWG8330E电磁炉炒</p><h3>¥116.00</h3></div>
            </dd>
          </dl>
        </li>
        <li class="yui3-u-1-6">
          <dl class="picDl tuhua">
            <dd>
              <a href="/item/1" class="pic"><img src="/uploads/like_03.png"></a>
              <div class="like-text"><p>捷波朗 </p><p>（jabra）BOOSI劲步</p><h3>¥236.00</h3></div>
            </dd>
          </dl>
        </li>
        <li class="yui3-u-1-6">
          <dl class="picDl huozhe">
            <dd>
              <a href="/item/1" class="pic"><img src="/uploads/like_04.png"></a>
              <div class="like-text"><p>阳光美包新款单肩包女包时尚子母包四件套女</p><h3>¥116.00</h3></div>
            </dd>
          </dl>
        </li>
        <li class="yui3-u-1-6">
          <dl class="picDl jilu">
            <dd>
              <a href="/item/1" class="pic"><img src="/uploads/like_05.png"></a>
              <div class="like-text"><p>捷波朗 </p><p>（jabra）BOOSI劲步</p><h3>¥236.00</h3></div>
            </dd>
          </dl>
        </li>
        <li class="yui3-u-1-6">
          <dl class="picDl tuhua">
            <dd>
              <a href="/item/1" class="pic"><img src="/uploads/like_06.png"></a>
              <div class="like-text"><p>三星（G5500）</p><p>移动联通双网通</p><h3>¥566.00</h3></div>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--有趣-->
<div class="fun">
  <div class="py-container">
    <div class="title">
      <h3 class="fl">传智播客.有趣区</h3>
    </div>
    <div class="clearfix yui3-g Interest">
      <span class="x-line"></span>
      <div class="yui3-u row-405 Interest-conver">
        <img src="/uploads/interest01.png">
      </div>
      <div class="yui3-u row-225 Interest-conver-split">
        <h5>好东西</h5>
        <img src="/uploads/interest02.png">
        <img src="/uploads/interest03.png">
      </div>
      <div class="yui3-u row-405 Interest-conver-split blockgary">
        <h5>品牌街</h5>
        <div class="split-bt"><img src="/uploads/interest04.png"></div>
        <div class="x-img fl"><img src="/uploads/interest05.png"></div>
        <div class="x-img fr"><img src="/uploads/interest06.png"></div>
      </div>
      <div class="yui3-u row-165 brandArea">
        <span class="brand-yline"></span>
        <ul class="yui3-g brand-list">
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand01.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand02.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand03.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand04.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand05.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand06.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand07.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand08.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand09.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand10.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand11.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand12.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand13.png"></li>
          <li class="yui3-u-1-2 brand-pit"><img src="/uploads/brand03.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--楼层-->
<div class="floor">
  <div class="py-container">
    <div class="title floors">
      <h3 class="fl">家用电器</h3>
      <div class="fr">
        <ul class="sui-nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">热门</a></li>
          <li><a href="#tab2" data-toggle="tab">大家电</a></li>
          <li><a href="#tab3" data-toggle="tab">生活电器</a></li>
          <li><a href="#tab4" data-toggle="tab">厨房电器</a></li>
          <li><a href="#tab5" data-toggle="tab">应季电器</a></li>
          <li><a href="#tab6" data-toggle="tab">空气/净水</a></li>
          <li><a href="#tab7" data-toggle="tab">高端电器</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix  tab-content floor-content">
      <div id="tab1" class="tab-pane active">
        <div class="yui3-g Floor-1">
          <div class="yui3-u Left blockgary">
            <ul class="jd-list">
              <li>节能补贴</li>
              <li>4K电视</li>
              <li>空气净化器</li>
              <li>IH电饭煲</li>
              <li>滚筒洗衣机</li>
              <li>电热水器</li>
            </ul>
            <img src="/uploads/floor-1-1.png">
          </div>
          <div class="yui3-u row-330 floorBanner">
            <div id="floor-1-carousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#floor-1-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#floor-1-carousel" data-slide-to="1"></li>
                <li data-target="#floor-1-carousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active"><img src="/uploads/floor-1-b01.png"></div>
                <div class="item"><img src="/uploads/floor-1-b02.png"></div>
                <div class="item"><img src="/uploads/floor-1-b03.png"></div>
              </div>
              <a href="#floor-1-carousel" data-slide="prev" class="carousel-control left">‹</a>
              <a href="#floor-1-carousel" data-slide="next" class="carousel-control right">›</a>
            </div>
          </div>
          <div class="yui3-u row-220 split">
            <span class="floor-x-line"></span>
            <div class="floor-conver-pit"><img src="/uploads/floor-1-2.png"></div>
            <div class="floor-conver-pit"><img src="/uploads/floor-1-3.png"></div>
          </div>
          <div class="yui3-u row-218 split"><img src="/uploads/floor-1-4.png"></div>
          <div class="yui3-u row-220 split">
            <span class="floor-x-line"></span>
            <div class="floor-conver-pit"><img src="/uploads/floor-1-5.png"></div>
            <div class="floor-conver-pit"><img src="/uploads/floor-1-6.png"></div>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab-pane">
        <p>第二个</p>
      </div>
      <div id="tab3" class="tab-pane">
        <p>第三个</p>
      </div>
      <div id="tab4" class="tab-pane">
        <p>第4个</p>
      </div>
      <div id="tab5" class="tab-pane">
        <p>第5个</p>
      </div>
      <div id="tab6" class="tab-pane">
        <p>第6个</p>
      </div>
      <div id="tab7" class="tab-pane">
        <p>第7个</p>
      </div>
    </div>
  </div>
</div>

<!--商标-->
<div class="brand">
  <div class="py-container">
    <ul class="Brand-list blockgary">
      <li class="Brand-item"><img src="/uploads/brand_21.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_03.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_05.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_07.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_09.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_11.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_13.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_15.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_17.png"></li>
      <li class="Brand-item"><img src="/uploads/brand_19.png"></li>
    </ul>
  </div>
</div>

{{#contentFor 'scripts'}}
<script src="/assets/js/sui.carousel.js"></script>
<script src="/assets/js/sui.transition.js"></script>
{{/contentFor}}
