{{#block 'styles'}}
<link rel="stylesheet" type="text/css" href="/css/pages-home.css" />
{{/block}}

<div id="account">
  <div class="py-container">
    <div class="yui3-g home">
      <!--左侧列表-->
      <div class="yui3-u-1-6 list">
        <dl>
          <dt>
            <i>·</i> 订单中心</dt>
          <dd>
            <a href="/member/order">我的订单</a>
          </dd>
          <dd>团购订单</dd>
          <dd>本地生活订单</dd>
          <dd>我的预售</dd>
          <dd>评价晒单</dd>
          <dd>取消订单记录</dd>
        </dl>
        <dl>
          <dt>
            <i>·</i> 关注中心</dt>
          <dd>关注的商品</dd>
          <dd>关注的店铺</dd>
          <dd>关注的专辑</dd>
          <dd>关注的品牌</dd>
          <dd>关注的活动</dd>
          <dd>浏览历史</dd>
        </dl>
        <dl>
          <dt>
            <i>·</i> 特色业务</dt>
          <dd>我的营业厅</dd>
          <dd>京东通信</dd>
          <dd>定期送</dd>
          <dd>京东代下单</dd>
          <dd>我的回收单</dd>
          <dd>节能补贴</dd>
          <dd>医药服务</dd>
          <dd>流量加油站</dd>
          <dd>黄金托管</dd>
        </dl>
        <dl>
          <dt>
            <i>·</i> 客户服务</dt>
          <dd>返修退换货</dd>
          <dd>价格保护</dd>
          <dd>意见建议</dd>
          <dd>购买咨询</dd>
          <dd>交易纠纷</dd>
          <dd>我的发票</dd>
        </dl>
        <dl>
          <dt>
            <i>·</i> 设置</dt>
          <dd>
            <a href="/member/profile">个人信息</a>
          </dd>
          <dd>
            <a href="/member/address">收货地址</a>
          </dd>
        </dl>
      </div>
      <!--右侧主内容-->
      <div class="yui3-u-5-6 body">
        <div class="aboutme yui3-g">
          <div class="yui3-u-1-4 set info">
            <div class="u-pic">
              <img src="/img/photo.png" alt="用户头像" />
            </div>
            <div class="u-info">
              <div class="u-name">{{currentUser.username}}</div>
              <div class="u-rank">VIP俱乐部</div>
              <div class="u-safe">账号安全：</div>
              <div class="u-medal">我的勋章：</div>
            </div>
          </div>
          <div class="yui3-u-1-4 set fixed">
            <div class="title">
              <strong>我的资产</strong>
            </div>
            <div class="acc-item">
              <div class="list1">
                <i></i>
                <b>积分兑换商品</b>
                <span>
                  <em>0</em>分</span>
              </div>
              <div class="list2">
                <i></i>
                <b>抵用券</b>
                <span>
                  <em>0</em>分</span>
              </div>
              <div class="list3">
                <i></i>
                <b>礼品卡余额</b>
                <span>
                  <em>0</em>分</span>
              </div>
              <div class="list4">
                <i></i>
                <b>账号余额</b>
                <span>
                  <em>0</em>分</span>
              </div>
            </div>
          </div>
          <div class="yui3-u-1-4 set package">
            <div class="title">
              <strong>我的钱包</strong>
            </div>
            <div class="td">
              <ul class="yui3-g">
                <li class="yui3-u-1-2">
                  <span>能购物</span>
                  <div class="td1"></div>
                </li>
                <li class="yui3-u-1-2">
                  <span>高收益</span>
                  <div class="td2"></div>
                </li>
                <li class="yui3-u-1-2">
                  <span>够安全</span>
                  <div class="td3"></div>
                </li>
                <li class="yui3-u-1-2">
                  <span>够灵活</span>
                  <div class="td4"></div>
                </li>
              </ul>
              <div class="space-x"></div>
              <div class="space-y"></div>
            </div>
          </div>
          <div class="yui3-u-5-24 ads">
            <img src="/img/account.png" />
          </div>
        </div>
        <div class="order">
          <div class="mt">
            <span class="fl">
              <strong>全部订单
                <i>0</i>
              </strong>
            </span>
            <div class="fr">
              <a href="#">我的订单 > </a>
            </div>
          </div>
          <div class="order-detail">
            <span class="none">您还没有订单，继续逛逛吧！</span>
          </div>
        </div>
        <div class="discount yui3-g">
          <div class="yui3-u-1-3 minus">
            <div class="title">
              <span>
                <strong>优惠券</strong>
              </span>
            </div>
            <div class="quan">
              <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="/img/quan.png" />
                  </div>
                  <div class="item">
                    <img src="/img/quan.png" />
                  </div>
                  <div class="item">
                    <img src="/img/quan.png" />
                  </div>
                </div>
                <a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
                <a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
              </div>
            </div>
          </div>
          <div class="yui3-u-1-3 change">
            <div class="title">
              <span>
                <strong>积分兑换</strong>
              </span>
            </div>
            <div class="jifen">
              <div class="fl">
                <img src="/img/duihuan.png" />
              </div>
              <div class="fr">
                <span>FancyFeast珍致 猫头鹰 精选金枪鱼肉配人工蟹肉条</span>
                <br />
                <span class="fen">
                  <i>1000</i>积分</span>
              </div>
            </div>
            <div class="fr dui">
              <a href="javascript:void(0)">立即兑换>></a>
            </div>
          </div>
          <div class="yui3-u-1-3 charge">
            <div class="title">
              <span>
                <strong>立即充值</strong>
              </span>
            </div>
            <div class="chong">
              <form class="sui-form form-horizontal">
                <div class="control-group">
                  <label for="inputPhone" class="control-label">手机号码：</label>
                  <div class="controls">
                    <input type="text" id="inputPhone" placeholder="请输入手机号码">
                  </div>
                </div>
                <div class="control-group">
                  <label for="inputPrice" class="control-label">面值：</label>
                  <div class="controls">
                    <span class="sui-dropdown dropdown-bordered select">
                      <span class="dropdown-inner">
                        <a id="drop12" role="button" data-toggle="dropdown" href="#" class="dropdown-toggle">
                          <input value="hz" name="city" type="hidden">
                          <i class="caret"></i>
                          <span>100</span>
                        </a>
                        <ul id="menu12" role="menu" aria-labelledby="drop12" class="sui-dropdown-menu">
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="bj">50</a>
                          </li>
                          <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="sb">30</a>
                          </li>
                          <li role="presentation" class="active">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" value="hz">100</a>
                          </li>
                        </ul>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">&nbsp;</label>
                  <button type="submit" class="sui-btn btn-primary">立即充值</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="ever">
          <ul class="sui-nav nav-tabs">
            <li class="active">
              <a href="#index" data-toggle="tab">商品收藏</a>
            </li>
            <li>
              <a href="#profile" data-toggle="tab">购物踪迹</a>
            </li>
          </ul>
          <div class="clearfix"></div>
          <div class="tab-content">
            <div id="index" class="tab-pane active">
              <div class="like-list">
                <ul class="yui3-g">
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike01.png" />
                      </div>
                      <div class="attr">
                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>3699.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有6人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike02.png" />
                      </div>
                      <div class="attr">
                        <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>4388.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有700人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike03.png" />
                      </div>
                      <div class="attr">
                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>4088.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有700人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike04.png" />
                      </div>
                      <div class="attr">
                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>4088.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有700人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike01.png" />
                      </div>
                      <div class="attr">
                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>3699.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有6人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike02.png" />
                      </div>
                      <div class="attr">
                        <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>4388.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有700人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike03.png" />
                      </div>
                      <div class="attr">
                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>4088.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有700人评价</i>
                      </div>
                    </div>
                  </li>
                  <li class="yui3-u-1-4">
                    <div class="list-wrap">
                      <div class="p-img">
                        <img src="/img/_/itemlike04.png" />
                      </div>
                      <div class="attr">
                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                      </div>
                      <div class="price">
                        <strong>
                          <em>¥</em>
                          <i>4088.00</i>
                        </strong>
                      </div>
                      <div class="commit">
                        <i class="command">已有700人评价</i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div id="profile" class="tab-pane">
              <p>特惠选购</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#block 'scripts'}}
<script type="text/javascript" src="/js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/js/widget/nav.js"></script>
<script type="text/javascript" src="/js/pages/home.js"></script>
<script type="text/javascript">
  $(function () {
    $("#service").hover(function () {
      $(".service").show();
    }, function () {
      $(".service").hide();
    });
    $("#shopcar").hover(function () {
      $("#shopcarlist").show();
    }, function () {
      $("#shopcarlist").hide();
    });

  })
  /*商品分类*/
  $(function () {
    $('.all-sort-list2 > .item').hover(function () {
      //父类分类列表容器的高度
      $(this).addClass('hover');
      $(this).children('.item-list').css('display', 'block');
    }, function () {
      $(this).removeClass('hover');
      $(this).children('.item-list').css('display', 'none');
    });

    $('.item > .item-list > .close').click(function () {
      $(this).parent().parent().removeClass('hover');
      $(this).parent().hide();
    });
  });
  $(function () {
    $('.all-sorts-list').hover(function () {
      $(this).children('.sort').css('display', 'block')
    }, function () {
      $(this).children('.sort').css('display', 'none')
    })
  });
</script>
{{/block}}
