.logoArea {
	height: 78px;
	border-bottom: 2px solid #c81523;
}

.logo {
	position: absolute;
	width: 182px;
	height: 78px;
	background: url(../img/icons.png) no-repeat;
	background-position: -367px 0;
}

.registerArea {
	margin: 15px 0;
	border: 1px solid #dfdfdf;
	font-family: "微软雅黑";
}

.registerArea h3 {
	margin: 0;
	padding: 6px 15px;
	border-bottom: 1px solid #dfdfdf;
	background: #ececec;
	color: #333;
}

h3 .go {
	float: right;
	font-size: 14px;
}

.btn-reg {
	width: 270px;
}

.info {
	margin: 40px auto;
	width: 600px;
}

.control-label {
	font-size: 14px;
}

.sui-form input[type=text].input-xfat.input-xlarge,.sui-form input[type=password].input-xfat.input-xlarge {
	width: 250px;
	height: 24px;
	border: 1px solid #999;
	border-radius: 0;
}

.sui-form .control-group label {
	*display: inline;
	*zoom: 1;
	*float: left;
}

#submit {
	padding: 5px 80px;
	background-color: #c81523;
	font-family: "微软雅黑";
}

.reg {
	width: 221px;
}

.btn-danger {
	padding: 6px;
	border-radius: 0;
	background-color: #c81623;
	word-spacing: 4px;
	font-size: 16px;
	font-family: 微软雅黑;
}

.copyright {
	text-align: center;
	line-height: 24px;
}

.copyright ul li {
	display: inline-block;
	margin: 15px 0;
	padding: 0 20px;
	border-right: 1px solid #e4e4e4;
	list-style-type: none;
	*display: inline;
	*zoom: 1;
}

.copyright ul li:last-child {
	border-right: 0;
}
