.success-cart {
	padding: 30px 0 100px;
	background-color: #f4f4f4;
}

.other-item.py-container {
	margin-bottom: 15px;
}

.success-cart h3 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6AAF04;
	font-weight: 400;
	font-size: 16px;
}

.success-cart .icon-pc-right {
	margin-right: 8px;
	padding: 3px;
	border: 2px solid #6AAF04;
	border-radius: 15px;
	background-color: #fff;
}

.success-cart .goods {
	overflow: hidden;
	padding: 10px 0;
}

.success-cart .goods .left-good {
	float: left;
}

.success-cart .goods .right-gocart {
	float: right;
}

.left-good .left-pic {
	float: left;
	width: 60px;
	border: 1px solid #dfdfdf;
}

.left-good .right-info {
	float: left;
	margin-left: 10px;
	color: #444;
}

.left-good .right-info p {
	margin-top: 0;
	margin-bottom: 0;
}

.right-info .title {
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	line-height: 28px;
}

.right-info .attr {
	color: #aaa;
}

.right-gocart a {
	padding: 7px 36px;
	font-size: 15px;
}

.right-gocart .btn-danger {
	background-color: #b1191a;
}

.right-gocart .btn-danger:hover {
	background-color: #b33637;
}
